:root body {
  font-variant-numeric: tabular-nums;
  font-family: "poppins", "Noto Sans CJK", sans-serif, "Twemoji Chromium";
  background-color: #030a13;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  padding: 0;
  margin: 0;
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
}

#root {
  width: 100%;
  height: 100%;
}
