::-webkit-scrollbar {
  width: 2px !important;
}

::-webkit-scrollbar-track {
  border-radius: 10px !important;
}

::-webkit-scrollbar-thumb {
  margin-left: 2px !important;
  background: #242424 !important;
  border-radius: 12px !important;
}

::-webkit-scrollbar {
  width: 6px !important;
}
